body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* Variables */
  --menu-color: rgb(0, 0, 0);
  --the-one-and-only-red: rgb(204, 0, 0);
  /* Screen Variables */
  --screen-background-color: rgb(100, 100, 100);
  --screen-font-color: aliceblue;
  --screen-font-border-color: black;
}

.screen {
  overflow: hidden;
  position: relative;
  background-color: var(--screen-background-color);
  flex-grow: 1;
  align-self: normal;
}

@keyframes screen-title-pop {
  0% {
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 4rem;
    text-shadow: 4px 4px 2px var(--screen-font-border-color),
      -2px -2px 4px var(--screen-font-border-color);
  }
  12% {
    font-size: 4.2rem;
  }
  25% {
    font-size: 4rem;
    top: 50%;
    text-shadow: 6px 6px 3px var(--screen-font-border-color),
      -3px -3px 6px var(--screen-font-border-color);
  }
  100% {
    top: 0%;
    transform: translate(-50%);
    font-size: 2.2rem;
    text-shadow: 2px 2px 1px var(--screen-font-border-color),
      -1px -1px 2px var(--screen-font-border-color);
  }
}

.screen .title {
  position: absolute;
  color: var(--screen-font-color);
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px var(--screen-font-border-color),
    -1px -1px 2px var(--screen-font-border-color);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  animation-name: screen-title-pop;
  animation-duration: 4000ms;
}

.windowCover {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.resourceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resourceIcon {
  height: 2.2rem;
  aspect-ratio: 1;
}

.resourceCount {
  color: var(--screen-font-color);
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px var(--screen-font-border-color),
    -1px -1px 2px var(--screen-font-border-color);
  padding: 0;
  margin: 0;
}

div[id*="overlay"] {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

div[id*="potatoFarm"] {
  background-image: linear-gradient(
    var(--screen-background-color),
    var(--the-one-and-only-red)
  );
}
