body {
  background-color: var(--screen-background-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  /* Variables */
  --menu-color: rgb(0, 0, 0);
  --the-one-and-only-red: rgb(204, 0, 0);
  --triangle-size: 15px;
  --triangle-border-size: 20px;
  --border-radius: 10px;
  /* Screen Variables */
  --screen-background-color: rgb(100, 100, 100);
  --screen-font-color: aliceblue;
  --screen-font-border-color: black;
  /* Shop Variables */
  --shop-background-color: rgb(36, 33, 33);
}

.notifier {
  z-index: 1004;
  padding: 50px;
  color: var(--screen-font-color);
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 2px 2px 1px var(--screen-font-border-color);
  box-sizing: border-box;
  width: max-content;
  height: max-content;
  overflow-wrap: break-word;
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: var(--border-radius);
  border: 2px solid var(--screen-background-color);
  transform: translate(-50%, -50%);
  background-color: var(--shop-background-color);
  transition: opacity 1s;
}

.triangle,
.triangleBorder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.triangle {
  border-top: var(--triangle-size) solid transparent;
  border-bottom: var(--triangle-size) solid transparent;
}

.triangleBorder {
  border-top: var(--triangle-border-size) solid transparent;
  border-bottom: var(--triangle-border-size) solid transparent;
}

.triangleHover {
  border-left-color: var(--the-one-and-only-red);
  border-right-color: var(--the-one-and-only-red);
}

.upgradeTitle {
  color: var(--screen-font-color);
  font-size: 1.6rem;
  text-align: center;
  margin-top: 5px;
  text-shadow: 2px 2px 1px var(--screen-font-border-color);
}

.costText {
  color: var(--screen-font-color);
  font-size: 1.8rem;
  margin-top: 5px;
  text-shadow: 2px 2px 1px var(--screen-font-border-color);
}

.costIcon {
  height: 40px;
  background-color: var(--screen-font-color);
  border-radius: 50%;
  border: 2px solid var(--screen-font-border-color);
}

.costHolder {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.screen {
  overflow: hidden;
  position: relative;
  background-color: var(--screen-background-color);
  flex-grow: 1;
  align-self: normal;
}

@keyframes screen-title-pop {
  0% {
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 4rem;
    text-shadow: 4px 4px 2px var(--screen-font-border-color),
      -2px -2px 4px var(--screen-font-border-color);
  }
  12% {
    font-size: 4.2rem;
  }
  25% {
    font-size: 4rem;
    top: 50%;
    text-shadow: 6px 6px 3px var(--screen-font-border-color),
      -3px -3px 6px var(--screen-font-border-color);
  }
  100% {
    top: 0%;
    transform: translate(-50%);
    font-size: 2.2rem;
    text-shadow: 2px 2px 1px var(--screen-font-border-color),
      -1px -1px 2px var(--screen-font-border-color);
  }
}

.screen .title {
  position: absolute;
  color: var(--screen-font-color);
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px var(--screen-font-border-color),
    -1px -1px 2px var(--screen-font-border-color);
  top: 0;
  left: 50%;
  transform: translate(-50%);
  animation-name: screen-title-pop;
  animation-duration: 4000ms;
}

.windowCover {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: var(--resource-url);
}

.resourceContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.resourceIcon {
  height: 2.2rem;
  aspect-ratio: 1;
}

.resourceCount {
  font-family: Courier "Courier New", Courier, monospace, monospace;
  color: var(--screen-font-color);
  font-size: 2.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 1px var(--screen-font-border-color),
    -1px -1px 2px var(--screen-font-border-color);
  padding: 0;
  margin: 0;
}

.shopHolder {
  --padding: 20px;
  background-color: var(--shop-background-color);
  height: calc(100% - 40px);
  width: calc(100% - 40px - 2 * var(--padding));
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
  border: 2px solid var(--screen-background-color);
  padding-left: var(--padding);
  padding-right: var(--padding);
  transition: opacity 2s;
}

.shopSacrifice {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
} /* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--screen-background-color);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--shop-background-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--the-one-and-only-red);
}

.upgradeHolder {
  height: 90%;
  aspect-ratio: 2/3;
  border-radius: var(--border-radius);
  border: 2px solid var(--screen-background-color);
  cursor: pointer;
}

.shopToggle {
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 20px;
  cursor: ns-resize;
  transition: background-color 1s;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

div[id*="overlay"] {
  position: absolute;
  width: calc(100vw - 5px);
  height: calc(100vh - 5px);
  z-index: 999;
  background-color: transparent;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 5px;
  padding-top: 5px;
}

.screenManager {
  z-index: 1002;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 80vw;
  height: calc(2 * var(--triangle-border-size));
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 5px;
}

div[id*="potatofarm"] {
  background-image: linear-gradient(
    var(--screen-background-color),
    var(--the-one-and-only-red)
  );
}

div[id*="shop"] {
  background-color: var(--the-one-and-only-red);
  z-index: 1001;
  flex-grow: 0.5;
  position: relative;
  transition: flex-grow 2s;
}
